<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%=pageTitle%></title>
    <link rel="stylesheet" href="./css/products.css" />
    <script src="./javascript/products.js"></script>
  </head>
  <body id="body">
    <div>
      <ul>
        <li><%=title%></li>
        <li><img src="<%=imageUrl%>" alt="no image" /></li>
        <li><%=price%></li>
        <li><%=description%></li>
        <a href="/edit-product"><button>edit-product</button></a>
        <a href="/product-detail"><button>product-detail</button></a>
      </ul>
    </div>
  </body>
</html>
